<section class="hero-area">
	<div class="block">
		<div class="video-button">
			<a class="popup-video" href="https://www.youtube.com/watch?v=jrkvirglgaQ">
				<i class="tf-ion-play"></i>
		</a>
		</div>
		<h1> Enter The Charlie Experience </h1>
		<p>This site made exclusivly by and for Charlie. These are my interests my hobies and chores that need doing. Great way for Charlie to stay on track! </p>
		<a data-scroll href="#lists_show" class="btn btn-transparent">See Lists</a>
		<span> or </span>
		<%= link_to 'Create New List', new_list_path  %>
		
	</div>
	  </div>
</section>
