<section class="hero-area">
  <div>
     <div >
      <h1> Lists to Choose from: </h1>  
         <% @lists.each do |l| %>
         <ul >
              <li> <%= l.name %> : <%=  l.description %> 
              <br />  
                 <%= link_to l.link, l.link %> </li>
         </ul>   
        <% end %>

	 </div>
	<div class="block">
		<a data-scroll href="#lists_show" class="btn btn-transparent">See Lists</a>
		<span> or </span>
		<%= link_to 'Create New List', new_list_path  %>
	</div>
  </div>
</section>


