<h1>Create New List: </h1>

<form > 
  <input  
    placeholder="ListName"
    required
    name="name" 
    />
    <textfield 
    placeholder="Description"
    name="description"

    />
    <input
     placeholder="Link" 
     name="link"

    />
    <button  
      type='submit'
      color="blue"
      > Create! 
      </button
</form>
