<h1> Lists to Choose from: </h1>

  <ul>
    <% @list.each do |list| %>
      <li> <%= list.name %> </li>
  </ul>   
      <span> <%= link_to 'Go To List', list_path:id %> </span>
   <% end %>

  <%= link_to 'Delete List', list_path, are you sure?  %>

