<h1>ShopLists#index</h1>

<table class="table" >
  <tr>
    <th> Item </th>
    <th> Gift </th>
    <th> Link </th>
  </tr>

   <%  @shoplist.each do |shoplist| %>    
  <tr>
     <td <%= shoplist.item %> </td>
     <td <%= shoplist.gift %> </td>
    <td <%= shoplist.link %> </td>
   </tr>
   <% end %>

   <%  if @shoplist.size == 0  %>    
      <em> I'm sorry No Items to Display </em>
   <% end %>

  </table>  