<div >
  <h1>Shoping List</h1>
  <%  @shoplists.each do |shoplist| %>
<table class="shoptable" >
  <tr>
    <th> Item </th>
    <th> Gift </th>
    <th> Link </th>
  </tr>
    
  <tr>
     <td <%= shoplist.item %> </td>
     <td <%= shoplist.gift %> </td>
    <td <%= shoplist.link %> </td>
   </tr>
   <% end %>

   <%  if @shoplists.size == 0  %>    
      <em> "Im sorry No Items to Display" </em>
   <% end %>

</table>
  
</div >
