<h1> Movies </h1> 
 
 <%= @movies.for_each do |movies| %> </h3>
    <div >
      <h1> Lists to Choose from: </h1>  
         
         <ul>
              <li> <%= movie.title %> </li>
         </ul>   
        <% end %>
<%= end %>
