<h1> Favorite Activities </h1>

<% @activitys.each do |activity| %>
  <h2> activity.name </h2>
  <%= link_to 'Show More', "/activitys_path(activity) %>
  <%= link_to 'Add New Activity', "/activitys_path(activity) %>
<% end %>
