
<div class="button"> List Directory </div>
<div class="dropdown">
    <p> <%= link_to "Movies", movies_path %> </p>
    <p> <%= link_to "Todo", activitys_path %> </p>
    
    <p> <%= link_to "Shopping", shoplists_path %> </p>
</div>
           