
<ul>
<li><a href="static_pages#home">Home</a></li>
<li><a href="static_pages#news">News</a></li>
<li class="dropdown">
  <a href="javascript:void(0)" class="dropbtn">Dropdown</a>
  <div class="dropdown-content">
    <a href="#">Link 1</a>
    <a href="#">Link 2</a>
    <a href="#">Link 3</a>
  </div>
</li>
</ul>
