<!DOCTYPE html>
<html>
  <head>
    <title> Multi List | Rails only </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
  </head>

  <body>
   <div class="ui container">
      <%= render 'layouts/navBar' %>
        <%= yield %>
      <h3> Built with Coffee </h3>
    </div> 
  </body>
</html>
